{% extends 'core/base.html' %}

{% block header %}
{% endblock header %}

{% block main %}
<section class="container d-flex flex-column justify-content-center align-items-center vh-70">

    <h1 class="text-center">
      Usuarios
    </h1>
    
    <div class="btn-group" role="group">
      <a href="{% url 'usuarios:usuario_list' %}" class="btn btn-lg btn-primary">Listar usuarios</a>
      <a href="{% url 'usuarios:usuario_create' %}" class="btn btn-lg btn-primary">Crear usuario</a>
    </div>
    
  </section>
  
{% endblock main %}