{% extends 'core/base.html' %}

{% block header %}
{% endblock header %}

{% block main %}
<section class="container">
    <h1 class="text-center">
         Borrar usuario
</h1>
<div class="shadow p-5">

    <p>¿Está seguro que desea borrar el usuario: <span class="fw-bold">"{{ object.username }}"</span>?</p>
    <form method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Confirmo</button>
     </form> 
     <hr>
         <a class="btn btn-primary mt-5" href="{% url 'usuarios:usuario_list' %}">Volver</a> 
     
 </div>
 </section> 
{% endblock main %} 