{% extends 'core/base.html' %}

{% block header %} 
Usuarios: Lista de usuarios
{% endblock header %} 

{% block main %}


<table class="table table-hover">
    <thead class="table-light">
        <tr>
        <th>ID</th>
        <th>Nombre y Apellido</th>
        <th>Email</th>
        <th>Usuario</th> 
    </tr>
</thead>
<tbody>
    {% for object in object_list %}
    <tr>
  <td>{{object.id}}</td> 
  <td>{{object.nombre | capfirst}}, {{object.apellido | capfirst}} </td>  
  <td>{{object.email}}</td>
  <td>{{object.username  }}</td> 
</tr>
{%empty%}
    <p>No hay registros</p>
        {% endfor %}
 

{% endblock main %}
