 <style>
   .nav-item:hover {
     background: #ddd;
     border-radius: 5px;
   }
 </style>
 <div class="container">
   <a class="navbar-brand" href="{% url 'index' %}">Optlog <i class="fa fa-home"></i> </a>
   <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <div class="collapse navbar-collapse" id="navbarNav">
     <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       <li class="nav-item">
         <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Inicio</a>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="{% url 'clientes:index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Clientes
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="{% url 'clientes:cliente_list' %}">Listado</a></li>
           <li><a class="dropdown-item" href="{% url 'clientes:cliente_create' %}">Crear</a></li>
         </ul>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="{% url 'usuarios:index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Usuarios
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="{% url 'usuarios:usuario_list' %}">Listado</a></li>
           <li><a class="dropdown-item" href="{% url 'usuarios:usuario_create' %}">Crear</a></li>
         </ul>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="{% url 'pedidos:index' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Pedidos
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="{% url 'pedidos:pedido_list' %}">Listado</a></li>
           <li><a class="dropdown-item" href="{% url 'pedidos:pedido_create' %}">Crear</a></li>
         </ul>
       </li>
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           Ubicacion geografica
         </a>
         <ul class="dropdown-menu">
           <li><a class="dropdown-item" href="{% url 'geolocalizacion:provincia_list' %}">Provincias listado </a></li>
           <li><a class="dropdown-item" href="{% url 'geolocalizacion:provincia_create' %}">Provincias Crear</a></li>
           <li><a class="dropdown-item" href="{% url 'geolocalizacion:localidad_list' %}">Localidad Listado</a></li>
           <li><a class="dropdown-item" href="{% url 'geolocalizacion:localidad_create' %}">Localidad Crear</a></li>
         </ul>
       </li>
     </ul>
     <form class="d-flex" role="search" method="post" action="{% url 'pedidos:buscar_pedido' %}">
       {% csrf_token %}
       <input class="form-control me-2" type="number" placeholder="Numero de envio" aria-label="Search" name="numero_guia">
       <button class="btn btn-outline-success btn-sm" type="submit">Buscar</button>
     </form>
   </div>
 </div>