{% extends 'core/base.html' %}

{% block header %}
    provincias: Borrar provincia
{% endblock header %}

{% block main %}
   <div class="shadow p-5">

       <p>¿Está seguro que desea borrar el provincia: <span class="fw-bold"> "{{ object.nombre }}"</span>?</p>
       <form method="post">
           {% csrf_token %}
           <button class="btn btn-danger" type="submit">Confirmo</button>
        </form> 
        <hr>
            <a class="btn btn-primary mt-5" href="{% url 'geolocalizacion:provincia_list' %}">Volver</a> 
        
    </div>
{% endblock main %}